#front-page {
    background: url('./bergamot.jpg') no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#about-background {
    background: url('./aboutus.jpg') no-repeat;
    background-size: cover;
    width: 100vw;
    height: 400px;
}