#front-page {
    background: url('./bergamot.jpg') no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#about-background {
    background: url('./table.jpg') no-repeat;


}

.text-menu {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}