{% extends 'customer/base.html' %} {% block content %}

<div class="container mb-5">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
      <h1>About us</h1>
      <p>Finding Inspiration in Every Turn</p>

      <p>Discover a new culinary experience at our trendy deli boutique café. Our elegant design and delicious food
        set
        us apart from the rest. Conveniently located in the heart of a thriving community, we offer a unique selection
        of vibrant and fresh dishes that are constantly changing. Savour a cup of organic coffee or loose-leaf herbal
        tea alongside a slice of cake or freshly baked pastry, available to enjoy in-store or to take-away.</p>

      <p>In addition to our culinary delights, we also showcase and sell a collection of pottery, handicrafts and
        accessories created by talented young Iranian women artists, as well as sweet and savoury gifts, tins of
        organic
        tea, and other unique items. We are committed to supporting local emerging producers, and it is important to
        us
        to empower these creators.</p>

      <p>We also offer a top-notch socializing experience with our supper clubs cooking classes and cultural events,
        starting with infused Persian food and expanding to other cuisines. Our classes will host renowned chefs and
        provide a break from the everyday routine. We are also environmentally conscious and strive to reduce waste by
        using recyclable materials as much as possible, even in our fit-out, mainly using reclaimed wooden furniture.
      </p>
    </div>
  </div>
  <div id="about-background"></div>
</div>

{% endblock content %}