<nav class="navbar navbar-expand-lg bg-success">
  <a class="navbar-brand mytext_style1 text-white m-2" href="{% url 'index' %}">BERGAMOT CAFE</a>
  <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto">
      <li class="nav-item active">
        <a class="nav-link mytext_style1 text-white" href="{% url 'about' %}">About <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link mytext_style1 text-white" href="{% url 'menu' %}">Menu</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link mytext_style1 text-white" href="{% url 'order' %}">Place an
          Order!</a>
      </li>
    </ul>
  </div>
</nav>